{% extends 'base.html' %}

{% block content %}

<div class="w3-container">
    <div class="w3-row">
        {% for photo in screenshots %}
        <div class="w3-col l3 m6 s12 w3-padding">
            <div class="w3-card-4 w3-white">

                <header class="hovereffect">
                    <img src=" {{ photo.screenshot.cdn_url }}" class="img-responsive w3-image">
                    <div class="overlay">
                        <h2>Hover</h2>
                        <a class="info w3-btn w3-round-xxlarge w3-white" href="#">Vote Now</a>
                    </div>

                </header>

                <div class="w3-container">
                    <strong>{{ photo.title }}</strong>

                </div>

                <footer class="w3-container ">
                    {{ photo.description }}
                    {{ photo.url }}


                </footer>

            </div>

        </div>
        {% endfor %}
    </div>

</div>


{% endblock %}